/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .ChampShip__wrp {
        padding: 60px 40px 40px;
    }
    
    .chp__content {
        margin-left: 20px;
        font-size: 16px;
    }
    .timer__blk ul li span {
        font-size: 40px;
    }
    .signUp__content {
        padding-left: 20px;
    }
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .ChampShip__wrp {
        padding: 60px 40px 40px;
        margin-top: -100px;
    }
    
    .chp__content {
        margin-left: 20px;
        font-size: 16px;
    }
    .timer__blk ul li span {
        font-size: 40px;
    }

    section.bennar-area img{height: 500px;object-fit: cover;}
    .menu-area nav ul li a {
        font-size: 14px;
    }
    .signIn__img h1 {
        font-size: 28px;
    }
    
    .signIn__img p {
        font-size: 16px;
    }
    
    .signIn__content {
        padding-left: 20px;
    }
    
    .g__link {
        padding: 11px;
        font-size: 16px;
    }
    .signUp__content {
        padding-left: 20px;
        padding-top: 50px;
    }
    .gallery__blk.lg {
        height: 600px;
    }
    
    .gallery__blk {
        height: 290px;
        font-size: 14px;
    }
    
    .gallery__blk h5 {
        font-size: 16px;
    }
    
    .gallery__blk p {
        margin: 0;
        font-size: 14px;
    }
    
    .gallery__blk h4 {
        font-size: 18px;
    }
    
    .gallery__blk h2 {
        font-size: 24px;
    }
    .news__blk a {
        font-size: 15px;
    }
    .Moments__blk h2 {
        font-size: 24px;
    }
    
    .MomentsThumSwiper p {
        font-size: 14px;
    }
    
    .MomentsThumSwiper .Moments__blk i {
        height: 200px;
    }














    .footer__nav a {
        font-size: 13px;
        line-height: 25px;
    }
    
    .apps__btn a {
        display: inline-block;
        max-width: 135px;
    }
}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    :root{
        scroll-behavior: smooth;
      
        --f18 : 16px;
        --f20 : 16px;
        --f22 : 18px;
        --f24 : 20px;
        --f28 : 24px;
        --f30 : 24px;
        --f32 : 24px;
        --f36 : 30px;
        --f40 : 32px;
        --f48 : 32px;
        --f65 : 40px;
    }
    .thm_btn{
        padding: 8px 20px;
        font-size: 14px;
    }
    .logo-area {
        text-align: center;
        max-width: 70px;
        margin: auto;
    }
    .ChampShip__wrp {
        padding: 60px 40px 40px;
        margin-top: -100px;
    }
    
    .chp__content {
        margin-left: 20px;
        font-size: 16px;
    }
    .timer__blk ul li span {
        font-size: 40px;
    }

    section.bennar-area img{height: 390px;object-fit: cover;}
    .chp__user {
        flex-direction: column;
    }
    .wether__slider {
        margin-top: 50px;
    }
    .signIn__content {
        padding-top: 70px;
    }
    .signUp__content {
        padding: 50px;
        height: auto;
    }
    
    .signUp__content .thm_btn {
        padding: 15px;
    }

    .gallery__blk.lg {
        height: 600px;
    }
    
    .gallery__blk {
        height: 290px;
        font-size: 14px;
    }
    
    .gallery__blk h5 {
        font-size: 16px;
    }
    
    .gallery__blk p {
        margin: 0;
        font-size: 14px;
    }
    
    .gallery__blk h4 {
        font-size: 18px;
    }
    
    .gallery__blk h2 {
        font-size: 24px;
    }
    .news__blk a {
        font-size: 14px;
    }

.news__blk i {
    width: 100px;
}
    .Moments__blk h2 {
        font-size: 24px;
    }
    
    .MomentsThumSwiper p {
        font-size: 14px;
    }
    
    .MomentsThumSwiper .Moments__blk i {
        height: 150px;
    }
    .Moments__blk {
        height: 300px;
    }
    
    .MomentsThumSwiper .Moments__blk a {
        top: 77px;
    }
    
    .blog__blk p {
        font-size: 14px;
    }
    
    .blog__blk i {
        height: 220px;
    }












    .newsLatter__blk {
        text-align: center;
    }
    
    .newsLatter__form {
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .apps__btn {
        margin: auto;
        text-align: center;
        float: none;
        margin-top: 20px;
    }
    .footer__nav a {
        font-size: 13px;
        line-height: 25px;
    }
    
    .apps__btn a {
        display: inline-block;
        max-width: 135px;
    }
}

 
/* small screen :320px. */
@media (max-width: 767px) {
    :root{
        scroll-behavior: smooth;
      
        --f18 : 16px;
        --f20 : 16px;
        --f22 : 18px;
        --f24 : 20px;
        --f28 : 24px;
        --f30 : 24px;
        --f32 : 24px;
        --f36 : 30px;
        --f40 : 32px;
        --f48 : 32px;
        --f65 : 40px;
    }
    .header__right .lng a span {
        display: none;
    }
    
    .header__right .lng {
        padding: 0;
        background: no-repeat;
    }

a.notifi-icon {
    display: flex;
}
    
    .header__right {
        gap: 0;
    }
    
    .header__right ul {
        gap: 2px;
        display: none;
    }
    .thm_btn{
        padding: 8px 20px;
        font-size: 12px;
    }
    .logo-area {
        text-align: center;
        margin: auto;
        max-width: 50px;
    }
    .ChampShip__wrp {
        padding: 0 0;
        margin-top: 0;
        padding-top: 59px;
        box-shadow: none;
        border-radius: 0;
        background: no-repeat;
    }
    
    .chp__content {
        margin-left: 20px;
        font-size: 14px;
    }
    .timer__blk ul li span {
        font-size: 15px;
        min-width: 24px;
    }

.timer__blk ul {
    gap: 28px;
    padding: 20px 25px 25px;
}

.timer__blk {
    margin-top: -110px;
}

.timer__blk ul li {
    font-weight: 800;
    color: var(--text-color);
}

    section.bennar-area img{height: 260px;object-fit: cover;}
    .chp__user {
        flex-direction: column;
    }
    .wether__slider {
        margin-top: 50px;
    }
    .ChampShip__title h3 {
        font-size: 18px;
    }
    
    .chp__user p img {
        max-width: 40px;
    }
    
    .chp__user p {
        font-size: 14px;
    }
    
    .dcs__content {
        flex-direction: column;
        gap: 20px;
    }
    
    ul.dcs__info li {
        margin-right: 0;
    }
    
    .wether__item p {
        font-size: 12px;
    }
    
    .ChampShip-area {
        padding-bottom: 50px;
    }
    .signIn__content {
        padding: 50px 30px;
    }
    
    .g__link {
        padding: 10px;
        font-size: 14px;
    }
    
    .input input {
        height: 42px;
        font-size: 14px;
    }
    
    .signIn__content .thm_btn {
        margin: 20px 0;
    }
    .or__line {
        margin: 20px 0;
    }
    
    .signIn__content h5 {
        margin: 20px 0;
        font-size: 14px;
    }
    
    .signIn__content p, .signUp__content p {
        font-size: 14px;
    }
    .signUp__content {
        padding: 50px 24px;
        height: auto;
    }

.signUp__content h5 {
    font-size: 14px;
}
    
    .signUp__content .thm_btn {
        padding: 15px;
    }
    .input__blk label {
        font-size: 14px;
        margin-bottom: 5px;
    }




    
    .gallery__blk.lg {
        height: 400px;
        display: flex;
    }

.gallery__blk {
    display: none;
}
    
    .gallery__blk {
        height: 290px;
        font-size: 14px;
    }
    
    .gallery__blk h5 {
        font-size: 16px;
    }
    
    .gallery__blk p {
        margin: 0;
        font-size: 14px;
    }

.gallery__blk a {
    width: 89px;
    height: 40px;
    border-radius: 10px 0 0 10px;
}
    
    .gallery__blk h4 {
        font-size: 18px;
    }
    
    .gallery__blk h2 {
        font-size: 24px;
    }
    .news__blk a {
        font-size: 14px;
    }

.news__blk i {
    width: 100px;
}
    .Moments__blk h2 {
        font-size: 20px;
        right: 20px;
        bottom: 20px;
        padding-left: 20px;
    }

.Moments__blk a {
    width: 50px;
    height: 50px;
    padding-left: 6px;
}

.Moments__blk a img {
    max-width: 18px;
}
    
    .MomentsThumSwiper p {
        font-size: 12px;
    }
    
    .MomentsThumSwiper .Moments__blk i {
        height: 150px;
    }
    .Moments__blk {
        height: 300px;
    }
    
    .MomentsThumSwiper .Moments__blk a {
        top: 77px;
    }
    
    .blog__blk p {
        font-size: 14px;
    }
    
    .blog__blk i {
        height: 220px;
    }












    .newsLatter__blk {
        text-align: center;
    }
    
    .newsLatter__form {
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .apps__btn {
        margin: auto;
        text-align: center;
        float: none;
        margin-top: 20px;
    }
    .footer__nav a {
        font-size: 13px;
        line-height: 25px;
    }
    
    .apps__btn a {
        display: inline-block;
        max-width: 135px;
    }
    .footer__nav {
        flex-direction: column;
        gap: 24px;
    }
    
    .footer__logo {
        margin: 40px 0;
        max-width: 100px;
        margin-inline: auto;
    }
    
    .copyRight {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .copyRight p {
        margin: 0;
    }
    
    .footer__btm {
        flex-direction: column;
    }
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
